{{- if eq .chezmoi.os "darwin" }}
alias ls='ls -G'
alias ll='ls -al -G'
{{- else }}
alias ls='ls --color=auto'
alias ll='ls -al --color=auto'
{{- end }}

alias untar='tar -xzf'
alias untarv='tar -xvzf'

alias lg='lazygit'
alias cdg='cd "$(git rev-parse --show-toplevel)"'
