# Install shell integration for wezterm.
# Only on macOS and Linux (not `ubuntu` or `fedora`)

{{ if or (eq .chezmoi.os "darwin") (and (eq .chezmoi.os "linux") (not (or (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.osRelease.id "fedora")))) }}

".shell-integration-wezterm.sh":
  type: file
  executable: true
  url: https://raw.githubusercontent.com/wez/wezterm/main/assets/shell-integration/wezterm.sh
  checksum.sha256: 7098cd58562c1cfd67fc58d5f9616d262eaa84f25cce430045d401970866cd42

{{ end }}
