#!/usr/bin/env bash

if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
    echo "Loading nix-direnv, because its faster..."
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="
fi

# NOTE: Uncomment this when you are finished,
# It will otherwise always rebuild inside the Shell when you work with it.
# watch_dir ./tools/quitsh

use flake .#default \
    --no-pure-eval \
    --show-trace
