prefer-no-csd true

layout {
    gaps 8

    center-focused-column "never"
    always-center-single-column
    empty-workspace-above-first
    default-column-display "tabbed"

    struts {
        left   5
        right  5
        top    5
        bottom 5
    }

    focus-ring {
        on
        width 2
        active-color   "#babbf1"
        inactive-color "#737994"
    }

    border {
        width 2
        active-color   "#babbf1"
        inactive-color "#737994"
    }

    default-column-width { proportion 0.5; }

    preset-column-widths {
        proportion 0.333
        proportion 0.5
        proportion 0.667
        proportion 1.0
    }

    tab-indicator {
        on
        hide-when-single-tab
        place-within-column
        gap 5
        width 4
        length total-proportion=1.0
        position "right"
        gaps-between-tabs 2
        corner-radius 8
        active-color "red"
        inactive-color "gray"
        urgent-color "#fc0303"
        // active-gradient from="#80c8ff" to="#bbddff" angle=45
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

}

recent-windows {
    debounce-ms 750
    open-delay-ms 150

    highlight {
        active-color "#babbf1"
        urgent-color "#fc0303"
        padding 30
        corner-radius 0
    }

    previews {
        max-height 480
        max-scale 0.5
    }

    binds {
        Alt+Tab         { next-window; }
        Alt+Shift+Tab   { previous-window; }
    }
}
