spawn-at-startup "avizo-service"
spawn-sh-at-startup "swaybg -i ~/.config/wallpapers/background-sand.jpg -m fill"
spawn-at-startup "waybar"
spawn-at-startup "gabyx::clipboard"

spawn-sh-at-startup "gabyx::display-manager 2>&1 > ~/.way-displays.log"

spawn-at-startup "gabyx::notifications"

spawn-at-startup "evolution"
spawn-at-startup "google-chrome-stable"
spawn-at-startup "signal-desktop"
spawn-at-startup "element-desktop"
spawn-at-startup "slack"
spawn-at-startup "bitwarden"

spawn-sh-at-startup "~/.config/niri/scripts/start-up.sh"
