screenshot-path "~/Pictures/niri/screenshot-%Y-%m-%d %H-%M-%S.png"

environment {
    NIXOS_OZONE_WL "1"
    GDK_BACKEND "wayland,x11"
    CLUTTER_BACKEND "wayland"
    SDL_VIDEODRIVER "wayland"
    MOZ_ENABLE_WAYLAND "1"
    QT_QPA_PLATFORM "wayland"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    _JAVA_AWT_WM_NONREPARENTING "1"
}
