window-rule {
    match app-id=r"(?i).*(?:chrome|firefox|brave).*"
    open-on-workspace "ws-9-web"
}

window-rule {
    match app-id=r"(?i).*evolution.*"
    open-on-workspace "ws-8-mail"
}

window-rule {
    match app-id=r"(?i).*(?:slack|signal).*"
    open-on-workspace "ws-7-comm"
}


window-rule {
    match app-id=r"(?i).*element.*"
    open-on-workspace "ws-7-comm"
}

window-rule {
    match app-id=r"(?i).*bitwarden.*"
    open-on-workspace "ws-10-creds"
}

window-rule {
    match at-startup=false
    match title=r"(?:Open|Save).*(?:File|Folder|As)"
    open-floating true
}

window-rule {
    match app-id=r"(?i).*(?:copyq|qalculate-gtk|font-manager|zoom).*"
    open-floating true
    default-window-height { proportion 0.8; }
    default-column-width { proportion 0.6; }
}

window-rule {
    match app-id=r"(?i).*showmethekey.*"
    open-floating true
    default-window-height { fixed 128; }
    default-column-width { fixed 400; }
}
