---
# Default cfg.yaml for way-displays.
# Copy this to ~/.config/way-displays/cfg.yaml and edit it to your liking.
#
# See https://github.com/alex-courtis/way-displays/wiki/Configuration

# Arrange displays in a ROW (default, left to right) or a COLUMN (top to bottom)
ARRANGE: ROW

# Align ROWs at the TOP (default), MIDDLE or BOTTOM
# Align COLUMNs at the LEFT (default), MIDDLE or RIGHT
ALIGN: MIDDLE

# The default ORDER is simply the order in which the displays are discovered.
# Define your own.
ORDER:
  # Home.
  - "!^Philips.*PHL 275E2F.*UHB2307008083.*" # External monitor.
  - "!^Dell.*U2724DE.*4TPGCP3.*" # External monitor.

  # Work.
  # TODO
  #
  # Any other stupid monitor comes always before laptop.
  - "!^DP-.*"

  # Laptop monitors.
  - "!^Tianma.*TL140ADXP24.*" # Tuxedo: Laptop Monitor comes always last.
  - "!^eDP-*" # The laptop monitor.

# Enable scaling, overrides AUTO_SCALE and SCALE
SCALING: TRUE

# The default is to scale each display by DPI.
# This may be disabled and scale 1 will be used, unless a SCALE has been specified.
AUTO_SCALE: FALSE

# Set an allowed range for auto scale.
AUTO_SCALE_MIN: 1.0
# AUTO_SCALE_MAX: 2.0

# Auto scale may be overridden for each display.
SCALE:
  # - NAME_DESC: "eDP-1"
  #   SCALE: 1.0

# Override the preferred mode.
# WARNING: this may result in an unusable display.
# See https://github.com/alex-courtis/way-displays#known-issues-with-workarounds
# for a possible workaround.
MODE:
  - NAME_DESC: "!^Philips.*PHL 275E2F.*UHB2307008083.*" # Home - External
    WIDTH: 2560
    HEIGHT: 1440
    HZ: 75

  - NAME_DESC: "!^Dell.*U2724DE.*4TPGCP3.*" # Home - External
    MAX: TRUE

  - NAME_DESC: "!^DP-.*" # Any other external monitor.
    MAX: TRUE

  - NAME_DESC: "!^Tianma.*TL140ADXP24.*" # Tuxedo - Internal
    WIDTH: 1920
    HEIGHT: 1200
    HZ: 120

# Rotate or translate the display.
# 90, 180, 270, FLIPPED, FLIPPED-90, FLIPPED-180, FLIPPED-270
# TRANSFORM:
# - NAME_DESC: 'monitor description'
#   TRANSFORM: 270

# VRR / adaptive sync is enabled by default. Disable it per display.
VRR_OFF:
  - "!^.*"

# Sets a `/bin/sh` command to be executed when display configurations are successfully changed.
# NOTE: Depending on your compositor this could get executed multiple times when
# a change happens. Especially likely on a (dis-)connect.
CHANGE_SUCCESS_CMD: "cd ~ && ~/.config/way-displays/scripts/on-change.sh"

# Laptop displays usually start with eDP e.g. eDP-1. This may be overridden if
# your laptop is different.
#LAPTOP_DISPLAY_PREFIX: 'eDP'

# One of: ERROR, WARNING, INFO (default), DEBUG
LOG_THRESHOLD: INFO

# Disable the specified displays.
DISABLED:
  #- "eDP-1"
