/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
  70% {
    color: white;
  }

  to {
    color: white;
    background-color: orange;
  }
}

@keyframes blink-critical {
  70% {
    color: white;
  }

  to {
    color: white;
    background-color: red;
  }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 24pt;
  margin: 0;
  padding: 0;

  font-family:
    NotoSans Nerd Font,
    Noto Sans,
    sans-serif;
  font-weight: bold;
  font-size: 12pt;
}

window.eDP-1 * {
  font-size: 9pt;
  min-height: 21pt;
}

/* The whole bar */
#waybar {
  background: #323232;
  color: white;
}

tooltip {
  border: 1.5px solid #6495ed;
  border-radius: 4px;
}

/* Each module */
#custom-launcher,
#workspaces button,
#mode,
#tray,
#custom-agenda,
#clock,
#custom-calculator,
#custom-emoji,
#custom-password,
#custom-screenshot,
#backlight,
#memory,
#cpu,
#battery,
#temperature,
#disk,
#custom-ssh,
#language,
#custom-vpn,
#network,
#bluetooth,
#pulseaudio,
#battery,
#custom-notification,
#custom-powermenu {
  padding-left: 5pt;
  padding-right: 5pt;
}

/* For Laptop monitor on 1980px widths */
#window.eDP-1 custom-launcher {
  padding-left: 3pt;
}

#window.eDP-1 custom-powermenu {
  padding-right: 3pt;
}

window.eDP-1 #workspaces button {
  padding-right: 3pt;
  padding-left: 3pt;
}

window.eDP-1 #custom-agenda {
  padding-left: 2pt;
  padding-right: 4pt;
}

window.eDP-1 #mode,
#tray,
#clock,
#custom-calculator,
#custom-emoji,
#custom-password,
#custom-screenshot,
#backlight,
#memory,
#cpu,
#battery,
#temperature,
#disk,
#custom-ssh,
#language,
#custom-vpn,
#network,
#bluetooth,
#pulseaudio,
#battery,
#custom-notification,
#custom-powermenu {
  padding-left: 2pt;
  padding-right: 2pt;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */
#custom-vpn {
  /* padding-left: 6pt; */
}

#custom-vpn.connected {
  color: #6495ed;
}

#custom-agenda.togo {
  color: #6495ed;
}

#custom-agenda.soon {
  color: #f0e373;
}

#custom-agenda.soon-urgent {
  color: #ff7a33;
  animation-name: blink-warning;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-agenda.soon-critical {
  color: #fc0303;
  animation-name: blink-critical;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning {
  color: orange;
}

#battery.critical {
  color: red;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

#clock {
  font-weight: bold;
}

#cpu {
  /* No styles */
}

#cpu.warning {
  color: orange;
}

#cpu.critical {
  color: red;
}

#memory {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#memory.warning {
  color: orange;
}

#memory.critical {
  color: red;
  animation-name: blink-critical;
  animation-duration: 2s;
}

#mode {
  background: #64727d;
  border-top: 2px solid white;
  /* To compensate for the top border and still have vertical centering */
  padding-bottom: 2px;
}

#network {
  /* No styles */
}

#network.disconnected {
  color: orange;
}

#pulseaudio {
  /* No styles */
}

#pulseaudio.muted {
  /* No styles */
}

#custom-spotify {
  color: rgb(102, 220, 105);
}

#temperature {
  /* No styles */
}

#temperature.critical {
  color: red;
}

#custom-launcher {
  font-size: 1.5em;
  font-weight: bold;
  color: #6495ed;
}

#custom-powermenu {
  font-size: 1.3em;
  font-weight: bold;
  color: #6495ed;
}

#bluetooth {
  /* padding-left: 5px; */
  /* padding-right: 5px; */
}

#custom-ssh {
  /* padding-right: 12px; */
}

#custom-ssh.warning {
  color: red;
}

#tray {
  /* No styles */
}

#window {
  font-weight: bold;
  color: #6495ed;
  padding-left: 20px;
}

#workspaces button {
  border-top: 2px solid transparent;
  /* To compensate for the top border and still have vertical centering */
  color: #888888;
}

#workspaces button.focused {
  border-color: #4c7899;
  color: white;
  background-color: #285577;
}

#workspaces button.urgent {
  border-color: #fc0303;
  color: #fc0303;
}
