{{- $choices := list "private" "work" -}}
{{- $workspace:= promptChoiceOnce . "workspace" "Workspace?" $choices "private" -}}

data:
  # Any of `private`, `work`
  workspace: {{ $workspace }}

  # Git Setup.
  git:
    diffTool: nvim
    mergeTool: vscode

    configPath: {{ .chezmoi.homeDir }}/.config/git
    toolsPath: {{ .chezmoi.homeDir }}/.config/git/tools

    githooksCloneURL: https://github.com/gabyx/githooks.git
    githooksCloneBranch: main

    {{- if contains $workspace "work" }}
    userEmail: gnuetzi@gmail.com
    userName: Gabriel Nützi
    {{- else }}
    userEmail: gnuetzi@gmail.com
    userName: Gabriel Nützi
    {{- end }}
