[core]
    editor = nvim
    ignorecase = false
    autocrlf = false
    symlinks = true
    longpaths = true
    abbrev = 10
    fsmonitor = false
    pager = delta
[user]
    name = {{ .git.userName | quote }}
    email = {{ .git.userEmail | quote }}
    signkey = E969172AB0757EB8
[commit]
    gpgsign = true
[interactive]
    diffFilter = delta --color-only --features=interactive
[push]
    autoSetupRemote = true
    default = simple
    followTags = true
[include]
    path = {{ .git.configPath }}/gitconfig-shared
    path = {{ .git.configPath }}/gitconfig-tools
    path = {{ .git.configPath }}/gitconfig-delta
[delta]
    features = gabyx
[alias]
    hooks = !\"{{ .chezmoi.homeDir }}/.githooks/bin/cli\"
[githooks]
    installDir = {{ .chezmoi.homeDir }}/.githooks
    cloneUrl = {{ .git.githooksCloneURL }}
    cloneBranch = {{ .git.githooksCloneBranch }}
    useManual = true
    useCoreHooksPath = false
    manualTemplateDir = {{ .chezmoi.homeDir }}/.githooks/templates
    runner = {{ .chezmoi.homeDir }}/.githooks/bin/runner
    dialog = {{ .chezmoi.homeDir }}/.githooks/bin/dialog
    maintainedHooks = !all, applypatch-msg, pre-applypatch, post-applypatch, pre-commit, pre-merge-commit, prepare-commit-msg, commit-msg, post-commit, pre-rebase, post-checkout, post-merge, pre-push, post-rewrite
    autoUpdateEnabled = true
    containerizedHooksEnabled = true
[init]
    defaultBranch = main
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[diff]
    tool = {{ .git.diffTool }}
    guitool = {{ .git.diffTool }}
    colorMoved = default
[difftool]
    prompt = false
[merge]
    tool = {{ .git.mergeTool }}
    guitool = {{ .git.mergeTool }}
    conflictstyle = diff3
[mergetool]
    prompt = false
[pull]
    ff = only
[color]
    ui = true
[status]
    showUntrackedFiles = all
[branch "main"]
    mergeoptions = --no-ff
[branch "stable"]
    mergeoptions = --no-ff
