[user]
	name = {{ .git.userName | quote }}
	email = {{ .git.userEmail | quote }}
[core]
	editor = nvim
	ignorecase = false
	autocrlf = false
	symlinks = true
	longpaths = true
	abbrev = 10
	fsmonitor = false
	pager = delta
[interactive]
    diffFilter = delta --color-only --features=interactive
[delta]
    navigate = true
    light = false
    side-by-side = true
    line-numbers = true
    wrap-max-lines = 1000
[push]
	autoSetupRemote = true
	default = simple
	followTags = true
[include]
	path = ~/.config/git/gitconfig-shared
	path = ~/.config/git/gitconfig-tools
[alias]
	hooks = !\"~/.githooks/bin/cli\"
[githooks]
	installDir = ~/.githooks
	cloneUrl = https://github.com/gabyx/Githooks.git
	cloneBranch = main
	useManual = true
	useCoreHooksPath = false
	runner = ~/.githooks/bin/runner
	dialog = ~/.githooks/bin/dialog
	maintainedHooks = !all, applypatch-msg, pre-applypatch, post-applypatch, pre-commit, pre-merge-commit, prepare-commit-msg, commit-msg, post-commit, pre-rebase, post-checkout, post-merge, pre-push, post-rewrite
	autoUpdateEnabled = true
	autoUpdateCheckTimestamp = 0
	containerizedHooksEnabled = true
[init]
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[diff]
	tool = {{ .git.diffTool }}
	guitool = {{ .git.diffTool }}
	colorMoved = default
[difftool]
	prompt = false
[merge]
	tool = {{ .git.mergeTool }}
	guitool = {{ .git.mergeTool }}
	conflictstyle = diff3
[mergetool]
	prompt = false
[pull]
	ff = only
[color]
	ui = true
[status]
	showUntrackedFiles = all
[branch "main"]
	mergeoptions = --no-ff
[branch "stable"]
	mergeoptions = --no-ff
