# DavMail settings, see http://davmail.sourceforge.net/ for documentation

# Turn this to `false` to do the OAuth2 authentication.
# With
#
# `davmail ~/.config/davmail/properties`
#
# and then run
#
# `vdirsyncer discover work_default`
#
davmail.server=true
davmail.server.certificate.hash=

davmail.mode=O365Interactive
davmail.url={{ .calendar.work.exchange.url }}

# We use the client id of `Evolution`
# (inspect it in the O365 account settings)
# which apparently works.
davmail.oauth.clientId=20460e5d-ce91-49af-a3a5-70b6be7486d1
davmail.oauth.tokenFilePath=/home/nixos/.local/state/davmail/secrets/token
davmail.oauth.redirectUri=
davmail.oauth.tenantId=

davmail.caldavPort=1080
davmail.ldapPort=
davmail.popPort=
davmail.smtpPort=
davmail.imapPort=

davmail.logFilePath=/home/nixos/.local/state/davmail/davmail.log
