# An example configuration for vdirsyncer.
#
# Move it to ~/.vdirsyncer/config or ~/.config/vdirsyncer/config and edit it.
# Run `vdirsyncer --help` for CLI usage.
#
# Optional parameters are commented out.
# This file doesn't document all available parameters, see
# http://vdirsyncer.pimutils.org/ for the rest of them.

[general]
# A folder where vdirsyncer can store some metadata about each pair.
status_path = "~/.local/state/vdirsyncer/status/"

# Work Calendar
# =============================================================================
[pair work_default]
a = "work_local"
b = "work_remote"
collections = ["from a", "from b"]
# This is important because we do not want to
# sync back any change to the server.
conflict_resolution = "b wins"

[storage work_local]
type = "filesystem"
path = "~/.local/share/khal/calendars/work"
fileext = ".ics"

[storage work_remote]
read_only = true
type = "caldav"
url = "http://localhost:1080/{{ .calendar.work.exchange.path }}"
username.fetch = ["command", "cat", "~/.config/vdirsyncer/exchange-work-calendar-username"]
password.fetch = ["command", "cat", "~/.config/vdirsyncer/exchange-work-calendar-password"]

# Personal Calendar
# =============================================================================
[pair google_default]
a = "google_local"
b = "google_remote"
collections = ["from a", "from b"]
# This is important because we do not want to
# sync back any change to the server.
conflict_resolution = "b wins"

[storage google_local]
type = "filesystem"
path = "~/.local/share/khal/calendars/personal"
fileext = ".ics"

[storage google_remote]
read_only = true
type = "google_calendar"
token_file = "~/.local/state/vdirsyncer/google_remote"
client_id.fetch = ["command", "cat", "~/.config/vdirsyncer/google-calendar-client-id"]
client_secret.fetch = ["command", "cat", "~/.config/vdirsyncer/google-calendar-client-secret"]
