alias ls='eza -h --icons=always --color=auto'
alias ll='eza -algHmh --icons=always --color=auto'

alias untar='tar -xzf'
alias untarv='tar -xvzf'

alias lg='lazygit'
alias cdg='cd "$(git rev-parse --show-toplevel)"'

alias v="nvim"
alias vn="nvim-nightly"
